.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  flex: 1;
  margin-left: 72px;
  margin-top: 36px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
